<html>
    <head>
        <title>Fuzzy String Match</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
            <style>
                h1 {text-align: center;}
                p {text-align: center;}
                div {text-align: center;}
                </style>
    </head>

  <body>
      <h1>Closest match is: {{age}}</h1>
  </body>