<!DOCTYPE html>
<html>

<head>
    <title>Fuzzy String Match</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            form {text-align: center;}
            </style>
</head>

<body>
    <h1>Enter a name to get Fuzzy Match</h1>
    <p>This method uses Levenshtein distance for calculating similarity index.</p>
    <form method="POST" action="/">
        <div class="form-group">
            <input type="text" name="age">
        </div>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>

</body>

</html>